@model ApprovalSystem.Models.Approval

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Approval</h1>
<hr />
<div class="row">
    <div class="col-md-8 offset-md-2">
        <form asp-action="Edit" asp-controller="Approvals" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApprovalTypeId" class="control-label">Type</label>
                <select asp-for="ApprovalTypeId" class="form-control" asp-items="ViewBag.ApprovalTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CommentsHistory" class="control-label">Comments History</label>
                <input asp-for="CommentsHistory" class="form-control" readonly />
                <span asp-validation-for="CommentsHistory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastComment" class="control-label">Comments</label>
                <input asp-for="LastComment" class="form-control" value="" />
                <span asp-validation-for="LastComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovalStatusId" class="control-label">Status</label>
                <select asp-for="ApprovalStatusId" disabled class="form-control" asp-items="ViewBag.ApprovalStatusId"></select>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="AssignedTo" class="control-label">Assigned To</label>
                <select asp-for="AssignedTo" class="form-control" asp-items="ViewBag.AssignedTo"></select>
                <span asp-validation-for="AssignedTo" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="CreatedBy" class="control-label"></label>
                <select asp-for="CreatedBy" class="form-control" asp-items="ViewBag.CreatedBy"></select>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="UpdateBy" class="control-label"></label>
                <select asp-for="UpdateBy" class="form-control" asp-items="ViewBag.UpdateBy"></select>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="UpdateOn" class="control-label">Updated On</label>
                <input asp-for="UpdateOn" class="form-control" />
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="CreatedOn" class="control-label">Created On</label>
                <input asp-for="CreatedOn" class="form-control" />
            </div>
            <div class="form-group">
                <input type="file" name="file" />
                <a href='@Model.FilePath'>View</a>
            </div>
            @if (Model.ApprovalStatusId != (Int64)EApprovalStatus.Reject)
            {
                <div class="form-group">
                    <input type="submit" value="Approve" name="Approve" class="btn btn-info btn-block col-md-8 offset-md-2" />
                    <input type="submit" value="Reject" name="Reject" class="btn btn-info btn-block col-md-8 offset-md-2" />
                </div>
            }
            else
            {
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-info btn-block col-md-8 offset-md-2" />
                </div>
            }
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
