@model ApprovalSystem.Models.ApprovalDetail

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ApprovalDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApprovalId" class="control-label"></label>
                <select asp-for="ApprovalId" class ="form-control" asp-items="ViewBag.ApprovalId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Sequence" class="control-label"></label>
                <input asp-for="Sequence" class="form-control" />
                <span asp-validation-for="Sequence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovalStatusId" class="control-label"></label>
                <select asp-for="ApprovalStatusId" class ="form-control" asp-items="ViewBag.ApprovalStatusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ApprovalDate" class="control-label"></label>
                <input asp-for="ApprovalDate" class="form-control" />
                <span asp-validation-for="ApprovalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
